<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <meta http-equiv="refresh" content="3; url=/" />
</head>
<body>
  <div class="jumbotron">
      <h1>M.I.R.</h1>
      <h3>No Download found!! You Fool!</h3>
      <p>redirecting you in 3 seconds</p>
  </div>
</body>
</html>
