<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron">
    <h1>M.I.R.</h1>
    <h3>master image retriever</h3>
</div>

<div class="container" id="content">
    <div class="row">
        <form id="emit" method="POST" action='#'>
            <label for="emit_data">List of ID's. Comma separated</label><br />
            <textarea cols="100" rows="2" type="text" name="emit_data" id="emit_data"></textarea>
            <br/><input type="submit" value="request files">
        </form>
        <hr/>
        <h3>Query Status</h3>
        <div id="query"></div>
        <hr/>
        <h3>Master File finder</h3>
        <div id="filefind"></div>
        <hr/>
        <h3>Downloads</h3>
        <div id="downloads"></div>
        <hr/>
        <h3>Errors</h3>
        <div id="errors"></div>
        <hr/>
    </div>
</div>


</div>

</body>
</html>
